```
    @Author: Nishanth
    @Date: 07-04-2022 12:29:00
    @Last Modified by: Nishanth
    @Last Modified Date: 07-04-2022 18:54:00
    @Title: A list of practice pandas programs
```

**Import required libraries**

In [1]:
import pandas as pd

1. **Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module**

In [5]:
# Create an array like object using pandas module
pd_series = pd.Series([12, 34, 56, 78])

print(f"Pandas Series:\n{pd_series}")

Pandas Series:
0    12
1    34
2    56
3    78
dtype: int64

2. **Write a Python program to convert a Panda module Series to Python list and it's type.**

In [6]:
def series_to_list(pd_series: pd.Series):
    """
        Description:
            Converts pandas series to list
        
        Paramter:
            pd_series: a pandas series
        
        Return:
            None
    """
    list_from_series = pd_series.to_list()
    print(f"Pandas Series:\n{pd_series}")
    print(f"Converted list:\n{list_from_series}")

In [7]:
# Using series_to_list() convert a pd.Series to a list
pd_series = pd.Series([12, 34, 56, 78])
series_to_list(pd_series)

Pandas Series:
0    12
1    34
2    56
3    78
dtype: int64
Converted list:
[12, 34, 56, 78]

3. **Write a Python program to add, subtract, multiple and divide two Pandas Series**

    Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [18]:
def series_math_op(series1: pd.Series, series2: pd.Series):
    """
        Description:
            Various math operations done on the 2 series
        
        Paramter:
            series1, series2: 2 pandas series
        
        Return:
            None
    """
    print(f"series1: {series1.values}\nseries2: {series2.values}")
    print(f"series1 + series2: {(series1 + series2).values}")
    print(f"series1 - series2: {(series1 - series2).values}")
    print(f"series1 * series2: {(series1 * series2).values}")
    print(f"series1 / series2: {(series1 / series2).values}")

In [19]:
# Using series_math_op() compute math operations on 2 series data
ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 9])
series_math_op(ser1, ser2)

series1: [ 2  4  6  8 10]
series2: [1 3 5 7 9]
series1 + series2: [ 3  7 11 15 19]
series1 - series2: [1 1 1 1 1]
series1 * series2: [ 2 12 30 56 90]
series1 / series2: [2.         1.33333333 1.2        1.14285714 1.11111111]